<style type="text/css">
	table {
		width: 100%;
	}
</style>
<page>
	
	<table>
		<tr>
			<td align="center" style="width:45%;">
				REPUBLIQUE DU SENEGAL
				<br>
               <i> un peuple, un but, une foi </i><br>
                <img src="{{ flag }}" alt="logo" width="30"> <br>
				-------------------------<br>
				MINISTERE DES SPORTS
				<br>
				COMITE NATIONAL OLYMPIQUE
				<br>
				-------------------------
				<br>
				<b>FEDERATION SENEGALAISE DE VOLLEYBALL</b>
				<br>
			</td>
			<td style="width:15%">
				
			</td>
			<td align="center" style="width:40%;">
                <img src="{{ logo }}" alt="logo" width="110"><br>
                <i>Fait à Dakar le {{ date ? date|date('d/m/Y') : '' }}</i>
			</td>
		</tr>
	</table>
	<hr>
	<table style="background-color:#90EE90; color:black; font-family:courier;">
		<tr>
			<td style="width:100%; text-align:center;">
				<h3>
					BON DE CAISSE
				</h3>
			</td>
		</tr>
	</table>
	<hr>


                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style=" width:45%;">CLUB : </th>
                                        <td>{{ affiliation.club }}</td>
                                    </tr>
                                                            <tr>
                                        <th>LIGUE : </th>
                                        <td>{{ affiliation.club.ligue }}</td>
                                    </tr>
                                    <tr>
                                        <th>ADRESSE : </th>
                                        <td>{{ affiliation.adresseDuClub }}</td>
                                    </tr>
                                    <tr>
                                        <th>MONTANT : </th>
                                        <td>25 000 francs  CFA</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
								<table border="1px" cellpadding="8px" cellspacing="3px">
									<tr style="color:#000;" >
										<th style="width:50%; text-align:center;">
											SIGNATURE CLUB
										</th>
										<th style="width:50%; text-align:center;">

											SIGNATURE FEDERATION
										</th>
									</tr>
								</table>

	<br><br><br><br><br><br><br><br><br><br><br><hr>


	<table>
		<tr>
			<td align="center" style="width:45%;">
				REPUBLIQUE DU SENEGAL
				<br>
               <i> un peuple, un but, une foi </i><br>
                <img src="{{ flag }}" alt="logo" width="30"> <br>
				-------------------------<br>
				MINISTERE DES SPORTS
				<br>
				COMITE NATIONAL OLYMPIQUE
				<br>
				-------------------------
				<br>
				<b>FEDERATION SENEGALAISE DE VOLLEYBALL</b>
				<br>
			</td>
			<td style="width:15%">
				
			</td>
			<td align="center" style="width:40%;">
                <img src="{{ logo }}" alt="logo" width="110"><br>
                <i>Fait à Dakar le {{ date ? date|date('d/m/Y') : '' }}</i>
			</td>
		</tr>
	</table>
	<hr>
	<table style="background-color:#90EE90; color:black; font-family:courier;">
		<tr>
			<td style="width:100%; text-align:center;">
				<h3>
					BON DE CAISSE
				</h3>
			</td>
		</tr>
	</table>
	<hr>


                            <table class="table">
                                <tbody>
                                    <tr>
                                        <th style=" width:45%;">CLUB : </th>
                                        <td>{{ affiliation.club }}</td>
                                    </tr>
                                                            <tr>
                                        <th>LIGUE : </th>
                                        <td>{{ affiliation.club.ligue }}</td>
                                    </tr>
                                    <tr>
                                        <th>ADRESSE : </th>
                                        <td>{{ affiliation.adresseDuClub }}</td>
                                    </tr>
                                    <tr>
                                        <th>MONTANT : </th>
                                        <td>25 000 francs  CFA</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
								<table border="1px" cellpadding="8px" cellspacing="3px">
									<tr style="color:#000;" >
										<th style="width:50%; text-align:center;">
											SIGNATURE CLUB
										</th>
										<th style="width:50%; text-align:center;">

											SIGNATURE FEDERATION
										</th>
									</tr>
								</table>


	
</page>
