{% extends 'base.html.twig' %}

{% block title %}Trace index{% endblock %}

{% block body %}
    <h1>Trace index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Action</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trace in traces %}
            <tr>
                <td>{{ trace.id }}</td>
                <td>{{ trace.action }}</td>
                <td>{{ trace.description }}</td>
                <td>
                    <a href="{{ path('app_trace_show', {'id': trace.id}) }}">show</a>
                    <a href="{{ path('app_trace_edit', {'id': trace.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_trace_new') }}">Create new</a>
{% endblock %}
