{% extends 'base.html.twig' %}

{% block title %}Ligue{% endblock %}

{% block body %}
<h4>{{ ligue }}</h4>
<div class="row mt-3">
    <div class="col-md-12">
      
        <div class="card">
            <div class="card-header">
                <h4>Liste des clubs de la {{ligue}}</h4>
                {% for role in app.user.roles %}
                {% if role == 'ROLE_ADMIN' %}
                 <button type="button" class="btn btn-primary float-end mt-n3" data-bs-toggle="modal" data-bs-target="#exampleModal">
                      Ajouter un club
                </button>
                {% endif %}
                {% endfor %}
            </div>
            <div class="card-body">

                <table class="table table-stripped"  id="dataTableExample" >
                    <thead>
                        <tr>
                            <th>Logo</th>
                            <th>Nom (abrev)</th>
                            <th>Responsable</th>
                            <th>Téléphone</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for club in ligue.clubs %}
                            <tr>
                                <td><img src="{{ asset('uploads/logos/' ~ club.logo) }}" alt="logo" width="35"/></td>
                                <td>{{club.nom}}&nbsp;({{club.abreviation}})</td>
                                <td>{{club.user}}</td>
                                <td>{{club.telephone}}</td>
                                <td>
                                   
                                    <a href="{{ path('app_club_show', {'id':club.id}) }}" title="Consulter"><button class="btn btn-outline-success"><i data-feather="folder"></i></button></a>
                                    {% for role in app.user.roles %}
                                        {% if role == 'ROLE_ADMIN' %}
                                        <a href="{{ 'app_club_edit' }}" title="Modifier"><button class="btn btn-outline-primary"> <i data-feather="edit"></i></button></a>
                                        {{ include('club/_delete_form.html.twig') }}
                                        {% endif %}
                                    {% endfor %}
                                    
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">AJOUT D'UN NOUVEAU CLUB</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="btn-close"></button>
      </div>
      <div class="modal-body">
          {{ include('club/_form.html.twig') }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
